.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.btn {
    text-transform: lowercase;
}

.filter-explanation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* .search {
  max-height: 50px;
} */

.barcode {
  border: 1px solid black;
}

.flip-button {
  bottom: 5px;
  right: 11px;
  position: absolute;

}

.search-links a {
  color: #26a69a;
  text-decoration: none;
}

.card__side{
  min-height: 300px;
  min-width: 500px;
  background-color: #F2F2F2;
  border-radius: 25px;
  padding: 10px;
  border: 1px solid black;
}

.no-results {
  border-top: 1px solid black;
  padding-top: 15px;
}

.card__back {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__back p {
  margin: 0 0;
  line-height: 20px;
}

.card__side button, .filter-explanation button {
  border: 0;
  color: rgba(0,0,0,0.87);
  font-weight: normal;
  background-color: #F2F2F2;
}

.card__side button {
  color: rgba(0,0,0,0.87);
}

.filter-explanation button {
  color: #26a69a;
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

html {
  background-color: #F2F2F2;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #FF5C69;
  padding: 40px;
  text-align: left;
  background-color: white;
}

.react-card-front {
  position: relative !important
}

nav {
  padding: 0 5%;
}

.card {
  border: 2px solid #FF5C69;
  padding: 40px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  height: 100px;
  width: 100px;
}

.btn {
  margin: 2px;
}

.background {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background::after {
  content: "";
  background-image: url("../imgs/gift-cards.jpg");
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

input#expiration {
  color: grey;
}

.expired {
  color: red;
}

h1 {
  font-size: 100px;
  font-weight: 900;
  margin-top: 10vh;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.login-button {
  padding: 2% 30%;
}

form, .card {
  min-width: 700px;
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space, if we want to do that */
  background: transparent; /* make scrollbar invisible */
}

.twitter-logout a {
  text-decoration: none;
  color: black !important;
}

@media screen and (min-width: 521px) and (max-width: 750px) {
  form, .card {
    min-width: 500px;
  }
}


@media screen and (max-width: 520px) {

  form, .card {
    min-width: 0px;
    max-width: 85vw;
  }

  h1 {
    font-size: 50px;
    font-weight: 900;
  }

  .card__side{
    min-width: 275px;
    max-width: 80vw;
  }

}
