.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-bottom: 4px solid #ff5c69;
}

.background::after {
  content: "";
  background-image: url("../imgs/gift-cards.jpg");
  opacity: 0.3;
  /* top: 0;
  left: 0; */
  position: absolute;
  z-index: -1;
}

.background, .background::after {
  height: 60vh;
  width: 100vw;
  min-height: 390px !important;
}

.twitter-logout a {
  text-decoration: none;
  color: black !important;
}

.login-button {
  margin: 1vh 0;
}
