@media screen and (max-height:540px), screen and (max-width: 540px) {

  body {
    padding: 0;
  }

  h2 {
    font-size: 10vw !important;
  }

  h4 {
    font-size: 6vw !important;
  }

  form {
    max-width: 100vw;
    min-width: 0;
  }

  .card {
    min-width: 0px;
    max-width: 100vw;
    padding: 2vh 2vw;
    margin: 0px;
  }

  .card button {
    width: 25vw;
    min-height: 12px;
    max-height: 15vh;
    font-size: 10px;
    padding: 0 !important;
  }

  .card__side {
    width: 99vw;
    min-height: 300px;
    min-width: 0px
  }

  .card__side__flip-button {
    position: relative;
    right: auto;
    bottom: auto;
  }

}

@media screen and (max-width: 540px) {

  .overview {
    flex-direction: column;
  }

  .arrow {
    display: none;
  }

}
